<%= form.text_field :label %>
<%= form.text_area :content %>
<%= form.text_field :url %>
<label> Do you want this url to open in a new tab/window? </label>
<%= form.check_box :remote %>

<label> Temporarily disable this slide </label>
<%= form.check_box :disabled %>


<% if @slide.file? && !@slide.new_record? %>
  <%= form.simple_field 'Current Image' do %>
    <%= image_tag @slide.file.url %>
  <% end %>
<% end %>
<%= form.file_field :file %>

<% if defined?(ComfortableMexicanSofa) %>
  <% content_for :right_column do %>
    <%= render :partial => 'cms_admin/files/index' %>
  <% end %>
  <%= cms_hook :carousel_slide, :locals => { :form => form } %>
<% end %>

<%= form.submit @slide.new_record?? 'Create Slide' : 'Update Slide' %>
